/* Footer Code */

#footer {
    display: block;
    background-color: #000;
    margin-top: 50px;
    padding: 30px 5%;
}

#footer .footer-up {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid #fff;
}

#footer .footer-up .footer-heading {
    display: inline-block;
    font-family: 'Roboto Condensed';
    font-size: 25px;
    font-weight: 700;
    color: #fff;
    display: inline-block;
}

#footer .footer-up .footer-up-links {
    display: inline-block;
    color: #fff;
    display: inline-block;
    text-decoration: none;
}

#footer .footer-up .footer-up-links a {
    font-size: 1.5em;
    text-decoration: none;
    color: #fff;
}

.footer-down p {
    color: #fff;
    font-family: Helvetica;
    font-size: 16px;
    margin-top: 20px;
}

/* Responsiveness Code */

@media (max-width: 1410px) {
    /* nothing */
}

@media (max-width: 1100px) {
    /* nothing */
}

@media (max-width: 980px) {
    /* nothing */
}

@media (max-width: 600px) {
    /* nothing */
}

@media (max-width: 475px) {
    #footer .footer-up .footer-heading {
        font-size: 2rem;
    }

    .footer-down p {
        font-size: 1.3rem;
    }
}