/* Sidebar Code */

/* .sidebar {
    padding-left: 40px;
    width: 40%;
}

.support-website {
    background-color: antiquewhite;
    width: 350px;
    padding: 1.2em;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.support-website img {
    width: 80px;
}

.support-website a {
    text-decoration: none;
    font: italic 600 20px 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: darkslategray;
}

.support-website a:hover {
    text-decoration: none;
    font: italic 600 20px 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: underline;
    color: darkslategray;
}

.contact-me i {
    text-decoration: none;
    font-size: 40px;
    color: black;
} */