@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");
@import url("https://fonts.googleapis.com/css?family=Noto+Serif");
@import url("https://fonts.googleapis.com/css?family=Lusitana");
@import url("/reusable-resources/navbar/navbar-style.css");
@import url("/reusable-resources/sidebar/sidebar-style.css");
@import url("/reusable-resources/footer/footer-style.css");

html {
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Serif', sans-serif;
}

#cn-site-body {
    background: #fff;
    background-size: cover, cover;
    background-attachment: fixed, fixed;
    background-repeat: no-repeat, no-repeat;
    background-blend-mode:multiply;
}

/* Site Main Content Code */

.site-body {
    margin: 0% 13%;
    margin-top: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.site-body .content {
    width: 80%;
    max-width: 850px;
}

#subject-name {
    display: inline-block;
    font-size: 1.7rem;
    font-weight: 600;
    padding-bottom: 0px;
    border-bottom: 0.2rem solid black;
    margin-bottom: 0.3rem;
    font-family: 'Roboto Condensed';
    color: #000000;
}

#page-heading {
    font-family: source-serif-pro;
    font-weight: 800;
    font-size: 5.6rem;
    color: #000000;
}

#author {
    font-size: 1.1rem;
}

#author {
    display: inline-block;
    font-family: Helvetica;
    font-size: 1.2rem;
    font-weight: 400;
    color: #000000;
}

#adobe-dc-view {
    width: 100%;
    height: 100vh;
    padding-top: 20px;
}

#title-image {
    width: 100%;
}

.navigator {
    margin: 3% 5% 0% 5%;
}

.navigator .pagination {
    font-family: Roboto;
    justify-content: center;
    margin-bottom: 0px;
}

.navigator .pagination a {
    font-family: Calibri;
}

/* Responsiveness Code */

@media (max-width: 1410px) {
    .site-body {
        top: 0;
        left: 0;
        width: 90%;
        margin: 0% 5%;
        margin-top: 4.5rem;
    }
}

@media (max-width: 980px) {
    .site-body {
        width: 90%;
        margin: 0% 5%;
        margin-top: 3.5rem;
        flex-direction: column-reverse;
        align-items: center;
    }

    .site-body .content {
        min-width: 0;
        max-width: 100%;
        width: 100%;
    }

    #subject-name {
        font-size: 1.5rem;
    }

    #page-heading {
        font-size: 4.5em;
    }
}

@media (max-width: 600px) {
    .site-body {
        width: 100%;
        margin: 0%;
        padding: 3%;
        margin-top: 1rem;
        flex-direction: column-reverse;
    }

    .site-body .content {
        min-width: 0;
        max-width: 100%;
        width: 100%;
    }
    
    #subject-name {
        font-size: 1.4rem;
    }

    #page-heading {
        font-size: 4rem;
    }

    .site-body .links-table {
        display: flex;
        flex-wrap: wrap;
    }
    
    .site-body .links-table .links {
        width: 100%;
    }
}

@media (max-width: 475px) {
    #subject-name {
        font-size: 1.2rem;
    }

    #page-heading {
        font-size: 3.3rem;
    }
}