@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");
@import url("https://fonts.googleapis.com/css?family=Noto+Serif");
@import url("https://fonts.googleapis.com/css?family=Lusitana");
@import url("/reusable-resources/navbar/navbar-style.css");
@import url("/reusable-resources/footer/footer-style.css");
@import url("/reusable-resources/sidebar/sidebar-style.css");

html {
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Serif', sans-serif;
}

#cn-site-body {
    background: #fff;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

em {
    font: inherit;
    font-style: italic;
}

/* Site Content Code */

.site-body {
    margin: 0% 13%;
    margin-top: 3%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.site-body .content {
    min-width: 650px;
    max-width: 800px;
}

#course-year {
    display: inline-block;
    font-size: 1.7rem;
    font-weight: 600;
    padding-bottom: 0px;
    border-bottom: 0.2rem solid black;
    margin-bottom: 0.3rem;
    font-family: 'Roboto Condensed';
    color: #000000;
}

#page-heading {
    font-family: source-serif-pro;
    font-weight: 800;
    font-size: 5.6rem;
    color: #000000;
}

#author {
    display: inline-block;
    font-family: Helvetica;
    font-size: 1.2rem;
    font-weight: 400;
    color: #000000;
}

#title-image {
    margin-top: 1rem;
    width: 100%;
}

.site-body .content .main-content-p {
    margin-top: 20px;
    font-family: Lusitana;
    font-size: 1.8rem;
    color: #000000;
}

.subheading {
    display: block;
    margin-top: 35px;
    font-family: source-serif-pro;
    font-size: 2.8rem;
    text-decoration: underline;
    color: #000000;
}

.site-body .notes-links-table {
    display: flex;
}

.notes-links-column {
    display: inline-block;
    min-width: 50%;
}

.notes-links-heading {
    font-family: source-serif-pro;
    font-size: 2.2rem;
    text-decoration: underline;
    font-weight: 700;
    margin-top: 15px;
}

.links h3 {
    padding: 15px 0px 10px;
}

.links-list {
    margin-top: 10px;
    list-style: none;
}

.links-list li {
    margin: 2px 0;
    font-size: 1.8rem;
    text-decoration: none;
    font-family: Lusitana;
    color: darkblue;
    line-height: 1.5;
}

.links-list a {
    text-decoration: none;
    font-family: Lusitana;
    color: darkblue;
}

.links-list a:hover {
    text-decoration: none;
    font-family: Lusitana;
    color: darkblue;
    text-decoration: underline;
}

/* Responsiveness Code */

@media (max-width: 1400px) {
    .site-body {
        top: 0;
        left: 0;
        width: 60%;
        margin: 0% 20%;
        margin-top: 3%;
    }

    .site-body .content {
        min-width: 0;
        max-width: 100%;
        width: 100%;
    }

    .sidebar {
        width: 40%;
        display: flex;
        justify-content: center;
        margin-left: 2%;
        padding: 0%;
    }
}

@media (max-width: 980px) {
    .site-body {
        width: 90%;
        margin: 3% 5% 0% 5%;
        flex-direction: column-reverse;
        align-items: center;
    }

    .site-body .content {
        min-width: 0;
        max-width: 100%;
        width: 100%;
    }

    #course-year {
        font-size: 1.5rem;
    }

    #page-heading {
        font-size: 4.5em;
    }

    .sidebar {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 3% 0% 5% 0%;
        padding: 0%;
    }
}

@media (max-width: 600px) {
    .site-body {
        width: 100%;
        margin: 0%;
        padding: 3%;
        flex-direction: column-reverse;
    }

    .site-body .content {
        min-width: 0;
        max-width: 100%;
        width: 100%;
    }

    #course-year {
        font-size: 1.4rem;
    }

    #page-heading {
        font-size: 4rem;
    }

    #title-image {
        width: 100%;
    }

    .site-body .notes-links-table {
        display: flex;
        flex-wrap: wrap;
    }
    
    .site-body .notes-links-table .notes-links-column {
        width: 100%;
    }

    .sidebar {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 3% 0% 5% 0%;
        padding: 0%;
    }
}

@media (max-width: 475px) {
    .site-body {
        padding-top: 6%;
    }

    #course-year {
        font-size: 1.2rem;
    }

    #page-heading {
        font-size: 3.3rem;
    }

    #author {
        font-size: 1.1rem;
    }

    .site-body .content .main-content-p {
        font-size: 1.6rem;
    }

    .subheading {
        font-size: 2.1rem;
    }

    .notes-links-heading {
        font-size: 2rem;
    }

    .links-list li {
        font-size: 1.6rem;
    }
}